.registerForm{
    width: 40%;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .container .registerForm{
    border: 0.2px solid rgba(71, 70, 70, 0.3);
      border-radius: 5px;
    padding: 10px 20px ;
  }
  .btn{
    background-color: rgb(255, 213, 0);
  }
  .registerForm a{
    text-decoration: none;
  }
  label{
    font-weight: bold;
  }
  .navbar-brand img {
    height: 50px;
  }
  @media screen and (max-width: 900px){
    .registerForm{
      width: 80%;
    }
  }