.navbar-custom {
    background-color: #131921;
    ;
  }
  .navbar-brand img {
    height: 30px;
    filter: brightness(0) invert(1);
  }
  .search-bar {
    width: 40%;
  }
  .search-bar input {
    border-radius: 0;
  }
  .search-bar button {
    border-radius: 0;
    background-color: #febd69;
    border: none;
  }
  #navbar2{
    background-color: #232F3E;
  }
  .nav-link, .navbar-text {
    color: white !important;
  }
  .nav-link:hover {
    color: #febd69 !important;
  }
  